
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 2rem;
}


.mt5 {
    margin-top: 5rem;
}
.mb3 {
    margin-bottom: 3rem;
}
.mb1 {
    margin-bottom: 1rem;
}
/**** FlexBox ****/
.f {
    display: flex;
}
.fc {
    flex-direction: column;
}
.jc{
    justify-content: center;
}
.ac {
    align-items: center;
}
.js{
    justify-content: start;
}
.as {
    align-items: flex-start;
}
.je{
    justify-content: end;
}
.ae {
    align-items: flex-end;
}
.jb{
    justify-content: space-between;
}
.ab {
    align-items: space-between;
}
.ja{
    justify-content: space-around;
}
.aa {
    align-items:  space-around;
}
.jst{
    justify-content: stretch;
}
.ast {
    align-items:  stretch;
}
.hf {
    height: 100%;
}
.wf {
    width: 100%;
}
.c {
    margin-left: auto;
    margin-right: auto;
}
/********* fortify forms ************/


/*errors*/



.errors {
    width: 400px;
}
.errors .errors-item{
    color: rgb(218, 60, 60);
    padding: 0.2rem 0;
    font-size: 0.8rem;
}
/*form*/


.form {
    width: 400px;
    padding: 1rem;
    box-shadow: 0 0 2px 2px rgb(218, 218, 218);
}

.form .group {
    padding: 0.5rem 0;
}

.form .group label {
    margin-right: 0.5rem;
}
.form .group input {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgb(242, 242, 242);
}


/**** buttons ****/

.btn {
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    opacity: 0.85;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgb(208, 208, 208);
    cursor: pointer;
}
.btn:active , .btn:hover  {
    opacity: 1;
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
}

.btn-primary {
    background-color: rgb(14, 97, 185);
    color: white;
}

.btn-tweet {
    background-color: rgb(57,196,249);
    color: white;
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
}

.card {
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 1px 1px 2px 1px rgb(208, 208, 208);
    padding: 2rem;
    text-align: center;
}

.card-head {
    font-weight: 500;
}
.card-body {
    margin-top: 1rem;
}


/**tweety**/

.t-container {
    max-width: 1024px;
    min-width: 400px;
    height: 100%;
}
.t-main {
    height: 100%;
    padding: 0rem 1rem;

}
.t-header {
    width: 100%;

    padding: 1rem 2rem;
}

.t-brand {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0.5rem;
}
.t-nav  {
    min-width: 150px;
    padding: 0.5rem 1rem;

}

.t-nav .nav-links a {
    font-weight: 500;
    color: rgb(26, 26, 26);
    padding: 0.2rem 0;
    margin: 0.3rem 0;

}
.t-nav .nav-links a:hover {
    font-weight: 500;
    color: rgba(26, 26, 26, 0.7);
}



.t-feed {
    flex: 1;
    padding: 0 2rem;
    align-self: stretch;

}

.t-feed>* {
    width: 100%;
    max-width: 550px;

}
.t-feed form {
    padding: 1rem;
    box-shadow: 0 0 3px 1px rgb(180, 216, 255);
    border-radius: 5px;
}
.t-feed .group {
    width: 100%;
}
.t-feed .group-body textarea {
    width: 100%;
    height: 5.5rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    resize: none;
    border-bottom: 2px solid rgb(180, 216, 255);

}
.t-feed .group-footer {
    padding-top: 0.5rem;
}

.t-feed .group-footer img {
    border-radius: 100%;
}

.t-feed .feed {
    box-shadow:0 0 2px 1px rgb(198, 225, 250);
    flex: 1;
    margin: 1rem 0;
}
.tweet {
    padding: 0.5rem;
    border-bottom: 1px solid rgb(198, 225, 250);
}

.tweet .t-avatar{
    border-radius: 100%;
    margin : 0.5rem 1rem 0.5rem 0.5rem
}
.tweet .t-content{
    padding-top: 1rem;
    padding-right: 1rem;
}
.tweet .t-content .name{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.tweet .t-content .body{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.tweet .t-content .t-img{
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgb(173, 197, 208);
}

.tweet .t-content .react .like{
}
.t-friends {
    min-width: 150px;
    background-color: #F6F7FA;
    border-radius: 5px;
    padding: 0.2rem 0rem;
}
.t-friends h3 {
    margin: 1rem 1rem 0rem 1rem;
}
.friend {
    padding: 0.3rem 1.2rem;
    display: flex;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}
.friend:hover {
    background-color: #d3d5dc;

}
.friend img {
    border-radius: 100%;
    margin-right: 0.7rem;
}
.friend a {
    color: rgb(26, 26, 26);
    font-weight: 400;
    font-size: 0.9rem;
}
.friend:hover a {
    color: rgba(26, 26, 26, 0.678);

}


